<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lake View Cottage</title>
        <link rel="icon" type="image/icon" href="/public/img/tabLogo.ico" />
        <!-- Font Awesome icons -->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/Public/styles.css" rel="stylesheet"  />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="/public/img/logo yellow2.png" alt="" /></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ml-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#AboutUs">About Us</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#location">location</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Facilities">Facilities</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#gallery">gallery</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Destinations">Destinations</a></li>                  
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="subheading">Welcome To Lake View Cottage!</div>
                <div class="masthead-heading text-uppercase">PARADISE WAITING FOR YOU</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger rounded-pill" href="#contact">Contact Now</a>
            </div>
        </header>



<!-- About Us -->
        <section class="page-section py-4 my-4" id="AboutUs">
            <div class="text-center">
                <br><br>
                <h2 class="section-heading text-uppercase">About Us</h2>
                <h3 class="section-subheading text-muted"></h3>

            </div>
                <form id="contactForm" name="sentMessage" novalidate="novalidate">
                    <div class="row align-items-stretch my-1" id="abtcont">
                        <div class="col-md-6 px-4 mx-4 py-4">                       
                            <p id="AbtUsCnt">
                                Located in Nuwara Eliya district - Rikillagaskada. Only 38 km from Kandy city & 45 km from Nuwara Eliya town. Lake View Residency will give you an unforgettable experience and its serenity, natural beauty & countryside environment will amaze you.
                            </p>
                        </div>
                        
                        <div>
                            <img class="img-fluid d-block mx-auto px-4 py-4" src="/public/img/abtuslogo.png" alt="" />
                        </div>

                    </div>   
                </form>
            </div>
        </section>

<!-- map -->
<section id="location">
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1256.4398992599317!2d80.78885482922944!3d7.1546263303396325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zN8KwMDknMTYuNyJOIDgwwrA0NycyMS45IkU!5e1!3m2!1sen!2slk!4v1616566342131!5m2!1sen!2slk" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>

   <!-- Facilities-->
   <section class="page-section" id="Facilities">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Facilities</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-user fa-stack-1x fa-inverse"></i>               
                </span>
                <h4 class="my-3">Accomodation</h4>
                <p class="text-muted">Comfortable lodge with Kitchen, Parking Area, Lake View Hut and Beautiful Garden Area.Free WiFi and Satellite TV facilities also included.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bed fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Bedrooms</h4>
                <p class="text-muted">Three Bed rooms including 2 family rooms and one double room. King size beds for Family rooms and triple bed for rest.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-bath fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Bathrooms</h4>
                <p class="text-muted">One family room include a attached bathroom & large common bathrom for rest. Hot water facility available for both.</p>
            </div>
        </div>
    </div>
</section>


<div class= "divimg1"></div>



        <!-- Gallery Grid-->
        <section class="page-section bg-light" id="gallery">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Gallery</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                <img class="img-fluid" src="assets/img/portfolio/01-thumbnail.jpg" alt="" />
                            </a>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                                <img class="img-fluid" src="assets/img/portfolio/02-thumbnail.jpg" alt="" />
                            </a>
                           
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                                <img class="img-fluid" src="assets/img/portfolio/03-thumbnail.jpg" alt="" />
                            </a>
                         
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 ">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">

                                <img class="img-fluid" src="assets/img/portfolio/04-thumbnail.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 ">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                               
                                <img class="img-fluid" src="assets/img/portfolio/05-thumbnail.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 ">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                               
                                <img class="img-fluid" src="assets/img/portfolio/06-thumbnail.jpg" alt="" />
                            </a>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-6 mb-4 mb">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal7">

                                <img class="img-fluid" src="assets/img/portfolio/07-thumbnail.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal8">
                               
                                <img class="img-fluid" src="assets/img/portfolio/08-thumbnail.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal9">
                               
                                <img class="img-fluid" src="assets/img/portfolio/09-thumbnail.jpg" alt="" />
                            </a>
                        </div>
                    </div>

                    
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal10">

                                <img class="img-fluid" src="assets/img/portfolio/10-thumbnail.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal11">
                               
                                <img class="img-fluid" src="assets/img/portfolio/11-thumbnail.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal12">
                               
                                <img class="img-fluid" src="assets/img/portfolio/12-thumbnail.jpg" alt="" />
                            </a>
                        </div>
                    </div>


                    
                </div>
            </div>
        </section>

        <div class= "divimg2"></div>

        <!-- Destinations-->
        <section class="page-section" id="Destinations">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Nearest Tourist Attractions</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <ul class="timeline">


                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/public/img/about/1.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading"><a class="destiLink" href="https://goo.gl/maps/G3wS6D1FB1vfXnun6">Loolecondera<br>Tea Estate</a>
                                </h4>
                              
                                <div class="timeline-body"><p class="text-muted">The first tea plantation estate in Sri Lanka started in 1867 by Scotsman James Taylor</p></div>

                            </div>
                          
                        </div>
                    </li>



                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/public/img/about/2.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading"><a class="destiLink" href="https://goo.gl/maps/Ga7tH4CNyCYPtBgeA">Victoria Randenigala Rantembe Sanctuary</a>
                                </h4>
                              
                                <div class="timeline-body"><p class="text-muted">The catchment area for the Victoria, Randenigala and Rantambe reservoirs</p></div>
                              </div>
                    </li>


                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/public/img/about/3.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading"><a class="destiLink" href="https://g.page/galway-s-land-national-park?share">Galway's Land National Park<br>Tea Estate</a>
                                </h4>
                              
                                <div class="timeline-body"><p class="text-muted">One of the most significant<br> birding sites in Sri Lanka</p></div>

                            </div>
                          
                        </div>
                    </li>



                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/public/img/about/4.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading"><a class="destiLink" href="https://goo.gl/maps/Cwzwv7uDsGMXMMgH7">Lake <br> Gregory</a>
                                </h4>
                              
                                <div class="timeline-body"><p class="text-muted"> A reservoir in heart of the tea country hill city, Nuwara Eliya, Sri Lanka</p></div>
                              </div>
                    </li>


                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/public/img/about/5.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading"><a class="destiLink" href="https://goo.gl/maps/a4RJB6CFSJPWMUHW8">Nuwara Eliya <br>Golf Club</a>
                                </h4>
                              
                                <div class="timeline-body"><p class="text-muted">One of the oldest Golf Clubs in Sri Lanka.<br> Established in the late 19th century</p></div>

                            </div>
                          
                        </div>
                    </li>



                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/public/img/about/6.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading"><a class="destiLink" href="https://goo.gl/maps/Cwzwv7uDsGMXMMgH7">Kolapathana<br> Waterfall</a>
                                </h4>
                              
                                <div class="timeline-body"><p class="text-muted">A multi-step cascade that is fed by a stream originating from Pidurutalagala forest reserve</p></div>
                              </div>
                    </li>

                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/public/img/about/7.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading"><a class="destiLink" href="https://goo.gl/maps/JkmF2hEJs7efJAJu6">Mandawala Ella</a>
                                </h4>
                              
                                <div class="timeline-body"><p class="text-muted">One of the most beautiful waterfalls in Sri Lanka well hidden from the public lying in the village of Ekiriya</p></div>

                            </div>
                          
                        </div>
                    </li>



                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/public/img/about/8.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading"><a class="destiLink" href="https://goo.gl/maps/vhf5v6W8kwV8ymGEA">Lover's Leap<br> Waterfall</a>
                                </h4>
                              
                                <div class="timeline-body"><p class="text-muted">An impressive water fall which is known for its romantic folklore</p></div>
                              </div>
                    </li>

                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/public/img/about/9.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                
                                <h4 class="subheading"><a class="destiLink" href="https://goo.gl/maps/4LoceC3xJCApbTqv7">Pidurutalagala</a>
                                </h4>
                              
                                <div class="timeline-body"><p class="text-muted"> an ultra prominent peak and the tallest mountain in Sri Lanka, at 2,524 m (8,281 ft)</p></div>

                            </div>
                          
                        </div>
                    </li>

                </ul>
            </div>
        </section>

        <br><br>
        
        <!-- Contact-->
        <section class="page-section py-4" id="contact">
            <div class="container">
             
                                         
                            <div>
                                <a href="#!"><img class="img-fluid d-block mx-auto" src="/public/img/footerLogo2.png" alt="" /></a>
                            </div>


                
                    <div id="adDiv">
                        <p id="address">
                            No:28,<br>Mahakumbura,<br>Dodamkubura,<br>Rikillagaskada,<br>Sri Lanka.<br><br>Tel:<br>+94 77 9 635 221 / +94 70 3 648 257
                            </p>
                        </div>
                       
                    </div>

                <footer class="footer py-4">
                    <div class="container">
                        <div class="col-md-8 offset-md-2">
                           
                            <div id="footLogoFB">
                                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/cottagelakeview/"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/lake_view_cottage/"><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="mailto:Contact.lakeviewresidence@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                           
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </section>
      
        <!-- Gallery Modals-->
        <!-- Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-stack-1x fa-inverse"></i></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <img class="img-fluid d-block mx-auto" src="/public/img/portfolio/01-full.jpg" alt="" />
                                       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-stack-1x fa-inverse"></i></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">                                  
                                    <img class="img-fluid d-block mx-auto" src="/public/img/portfolio/02-full.jpg" alt="" />                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-stack-1x fa-inverse"></i></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">                                  
                                    <img class="img-fluid d-block mx-auto" src="/public/img/portfolio/03-full.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-stack-1x fa-inverse"></i></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <img class="img-fluid d-block mx-auto" src="/public/img/portfolio/04-full.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-stack-1x fa-inverse"></i></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                   
                                    <img class="img-fluid d-block mx-auto" src="/public/img/portfolio/05-full.jpg" alt="" />                           
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-stack-1x fa-inverse"></i></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                  
                                    <img class="img-fluid d-block mx-auto" src="/public/img/portfolio/06-full.jpg" alt="" />                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- Modal 7-->
         <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-stack-1x fa-inverse"></i></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                  
                                    <img class="img-fluid d-block mx-auto" src="/public/img/portfolio/07-full.jpg" alt="" />                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

             <!-- Modal 8-->
             <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-stack-1x fa-inverse"></i></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="modal-body">
                                      
                                        <img class="img-fluid d-block mx-auto" src="/public/img/portfolio/08-full.jpg" alt="" />                          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                 <!-- Modal 9-->
         <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-stack-1x fa-inverse"></i></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                  
                                    <img class="img-fluid d-block mx-auto" src="/public/img/portfolio/09-full.jpg" alt="" />                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Modal 10-->
         <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-stack-1x fa-inverse"></i></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                  
                                    <img class="img-fluid d-block mx-auto" src="/public/img/portfolio/10-full.jpg" alt="" />                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

             <!-- Modal 11-->
             <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-stack-1x fa-inverse"></i></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="modal-body">
                                      
                                        <img class="img-fluid d-block mx-auto" src="/public/img/portfolio/11-full.jpg" alt="" />                          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Modal 12-->
         <div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-stack-1x fa-inverse"></i></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                  
                                    <img class="img-fluid d-block mx-auto" src="/public/img/portfolio/12-full.jpg" alt="" />                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
